
.appWindowControls {
    position: fixed;
    left: calc(100% - 138px);
    top: 0;
    width: 138px;
    height: 30px;
    line-height: 30px;
    -webkit-app-region: no-drag;
    -webkit-user-select: none;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    flex-grow: 0;
    align-content: right; 
    justify-content: right;
    z-index: 99;
}

.appControl {
    display: inline-block;
    -webkit-app-region: no-drag;
    -webkit-user-select: none;
    align-self: flex-end;
    flex-grow: 0;
    width: 46px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.appControlBg2 {
    background-color:rgba(232,17,35,.99);
}

.appControlBg {
    background-color: rgba(255, 255, 255, 0.137);
}

.appControlMask {
    display: block;
    width: 46px;
    height: 30px;
    mask-clip: border-box;
    mask-origin: border-box;
    -webkit-mask-clip: border-box;
    -webkit-mask-origin: border-box;
    background-color: rgb(190, 190, 190);
}

.appControlClose {
    mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.279 5.5L11 10.221l-.779.779L5.5 6.279.779 11 0 10.221 4.721 5.5 0 .779.779 0 5.5 4.721 10.221 0 11 .779 6.279 5.5z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
    mask-size: 23.1%;
    -webkit-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.279 5.5L11 10.221l-.779.779L5.5 6.279.779 11 0 10.221 4.721 5.5 0 .779.779 0 5.5 4.721 10.221 0 11 .779 6.279 5.5z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
    -webkit-mask-size: 23.1%;
}

.appControlHover {
    background-color: rgb(255, 255, 255);
}

.appControlMaximize {
    mask:url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 8.798H8.798V11H0V2.202h2.202V0H11v8.798zm-3.298-5.5h-6.6v6.6h6.6v-6.6zM9.9 1.1H3.298v1.101h5.5v5.5h1.1v-6.6z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
    mask-size: 23.1%;
    -webkit-mask:url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 8.798H8.798V11H0V2.202h2.202V0H11v8.798zm-3.298-5.5h-6.6v6.6h6.6v-6.6zM9.9 1.1H3.298v1.101h5.5v5.5h1.1v-6.6z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
    -webkit-mask-size: 23.1%;
}

.appControlMinimize {
    mask:url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 4.399V5.5H0V4.399h11z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
    mask-size: 23.1%;
    -webkit-mask:url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 4.399V5.5H0V4.399h11z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
    -webkit-mask-size: 23.1%;
}

